<h1>ARTICLE TITLE</h1>
<div class="story-body">
    <section class="author-info">

    </section>
    <section class="story-header">

    </section>
    <section class="actual-story" id="part1">

    </section>
    <section class="story-middle">

    </section>
    <section class="actual-story" id="part2">

    </section>
    <section class="story-social-links">

    </section>
</div>
<div class="recent-articles">
    <h3>RECENT ARTICLES</h3>
    <ul>
        <li>
            <img src="" alt="recent article 1">
            <h5 class="article-title-side"></h5>
            <p class="article-overview-side"></p>
            <button class="read-more" id="read-small">READ MORE</button>
        </li>
        <li>
            <img src="" alt="recent article 2">
            <h5 class="article-title-side"></h5>
            <p class="article-overview-side"></p>
            <button class="read-more" id="read-small">READ MORE</button>
        </li>
        <li>
            <img src="" alt="recent article 3">
            <h5 class="article-title-side"></h5>
            <p class="article-overview-side"></p>
            <button class="read-more" id="read-small">READ MORE</button>
        </li>
    </ul>
    <button class="get-involved">GET INVOLVED</button>
</div>
<div class="story-footer">
    <div>
        <img src="../img/article_3@2x.png" alt="Wierd toothbrush?">
        <h2 class="title">Article Title</h2>
        <p class="story">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="read-more" id="read-big">READ MORE</button>
    </div>
    <div>
        <img src="../img/article_1@2x.png" alt="3D Print">
        <h2 class="title">Article Title</h2>
        <p class="story">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="read-more" id="read-big">READ MORE</button>
    </div>
    <div>
        <img src="../img/article_4@2x.png" alt="Giant Earbuds?">
        <h2 class="title">Article Title</h2>
        <p class="story">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="read-more" id="read-big">READ MORE</button>
    </div>
</div>