<div class="articles">
    <div class="a1">

    </div>
    <div class="a2">
        <img src="../img/article_1@2x.png" alt="3D Print">
    </div>
    <div class="b1">

    </div>
    <div class="b2">
        <img src="../img/article_2@2x.png" alt="Mom and Baby">
    </div>
    <div class="c1">

    </div>
    <div class="c2">
        <img src="../img/article_3@2x.png" alt="Wierd toothbrush?">
    </div>
    <div class="d1">

    </div>
    <div class="d2">
        <img src="../img/article_4@2x.png" alt="Giant Earbuds?">
    </div>    
</div>