<nav class="title-contain"> 
    <h1 class="home-article-title">SEARCH RESULTS FOR: {{}}</h1>
</nav>
<nav class="grid-for-articles">
    <div ng-repeat="article in articles | limitTo:4" class="home-articles">
        <div class="a1">
            <h2 class="title">{{article.title}}</h2>
            <p class="story">{{article.text}}</p>
            <button class="read-more" id="read-big">READ MORE</button>
        </div>
        <div class="a2">
            <img ng-src="{{article.image}}" alt="article picture">
        </div>
    </div>
</nav>
<nav class="story-break">
    <div class="extra-stories">
        <button class="load-more-btn">+</button>
        <p class="load-more">Load More</p>
    </div>
</nav>