//global variables//
$titles: #7F0070;
$gradient1: #7400B2;
$gradient2: #D000B6;
$gradient3: #600091;
$gradient4: #77006E;
$font: Arial, Helvetica, sans-serif;

//global constants//
html {
    font-family: $font;
}

button {
    cursor: pointer;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, $gradient1 0%, $gradient2 100%);
    border-image-slice: 1;
    background: transparent;
    outline: none;
}

a {
    text-decoration: none;
    color: white;
}

//header css//
.header-image {
    position: relative;
    width: 100vw;
    height: auto;
}
.top-container {
    position: absolute;
    top: 2vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
}

.home {
    width: 17vw;
    display: flex;
    justify-content: space-around;
}

.home-page {
    display: flex;
    padding-left: 5vw;
}

.home-page, .about {
    color: white;
    font-size: 12px;
}

.contact-search {
    width: 425px;
}

.get-involved, .contact-us {
    background: linear-gradient($gradient3, $gradient4);;
    color: white;
    border: 0px solid;
    text-transform: uppercase;
    font-size: 11px
}

.get-involved {
    height: 23px;
    width: 120px;
}

.contact-us {
    height: 23px;
    width: 100px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 2vw;
}

.search-button {
    border-radius: 50%;
    text-decoration: none;
    background: linear-gradient(to right, $gradient1, $gradient2);
    border: 0px solid;
    width: 22px;
    height: 22px;
    font-size: 12px;
    text-align: center;
    outline: none;
    position: relative;
    left: -15px;
}

.magnifying-glass {
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: white;
}

#story-search {
    border-radius: 50px;
    border: 0px solid;
    width: 120px;
    height: 17px;
}

//footer css//
.site-footer {
    height: 25vh;
    width: 100vw;
    background-color: gray;
}

.bottom-container {
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 4vh;
}

.logo-social {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.legal-slogan {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    width: 75vw;
    padding-left: -12.5vw;
}

.fa {
    padding-top: .4em;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid white;
}

.fa:hover {
    color: gray;
    background-color: white;
}

.fa-facebook, .fa-instagram, .fa-linkedin, .fa-snapchat-ghost, .fa-twitter, .fa-youtube-play {
    color: white;
}

.slogan {
    color: white;
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.legal-sites {
    color: white;
    font-size: 13px;
}

.logo {
    color: lightgray;
}

//main body css//
h1 {
    -webkit-text-stroke: 1.5px $titles;
    -webkit-text-fill-color: white;
}

// .move-upwards {
//     position: absolute;
//     top: -25vh;
// }

.title-contain {
    width: 100vw;
    height: 25vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    top: 35vh;
}

#shift-title-left{
    left: -300px;
}

.home-article-title {
    font-size: 56px;
}

.custom-article-title {
    font-size: 78px;
}

.home-article-button {
    color: $titles;
    font-size: 16px;
    height: 40px;
    width: 140px;
}

.grid-for-articles {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.home-articles {
    width: 50vw;
    height: auto;
    display: flex;
    // flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.a1 {
    width: 25vw;
    padding: 5vw 2.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.title {
    color: $titles;
    font-size: 32px;
}

.story {
    color: gray;
    font-size: 16px;
    line-height: 22.5px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.read-more {
    color: $titles;
}

.a2 {
    width: 25vw;
    height: auto;
}

.story-break {
    width: 100vw;
    height: 12vh;
    background-color: $titles;

}

.extra-stories {
    width: 12vw;
    height: 12vh;
    display: flex;
    padding-left: 2.5vw;
    align-items: center;
    justify-content: space-around;
}

.load-more-btn {
    border-radius: 50%;
    text-decoration: none;
    border: 0px solid;
    width: 28px;
    height: 28px;
    font-size: 11px;
    text-align: center;
    outline: none;
    color: $titles;
    background-color: white;
}

.load-more {
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    padding-right: 1vw;
}

.home-footer-links {
    width: 100vw;
    height: 45vh;
}

.home-links {
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-about, .home-related, .home-more {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.img-title-contain {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 18vh;
}

.link-contain {
    width: 15vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-footer-title {
    color: $titles;
    font-size: 24px;
}

.home-related {
    width: 33.33vw;
    border-left: .5px solid lightgray;
    border-right: .5px solid lightgray;
}

#relative-link {
    color: gray;
}

.body-article-contain {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.top-section-article {
    display: flex;
    width: 100vw;
    
}

.about-us {
    height: 82.5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2.5vh 7.5vw;
}

.about-paragraph {
    color: gray;
    line-height: 1.5;
}
